ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  color: white;
  text-decoration: none;
}

.title {
  font-size: 1.45em;
}

.navbar {
  margin-top: 5px;
}
.title a,
.navbar a {
  padding: 10px 15px;
  text-transform: uppercase;
  text-align: center;
  display: block;
}
.navbar a:hover {
  color: #718daa;
}

.header {
  position: sticky;
  top: 0;
  z-index: 1;
  font-family: 'Montserrat', sans-serif;
  background: rgb(36, 48, 75);
  margin: 0 auto;
  width: 100%;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {
  .header,
  .navbar {
    display: flex;
  }
  .header {
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 100%;
  }
}

@media (min-width: 1025px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
  }
}
