.container {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  background: #325199;
  color: white;
  height: 100vh;
  justify-content: center;
}

.item {
  width: 40%;
  padding: 20px;
  text-align: center;
}
